*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #009688;
}

.container{
    background-color: rgb(255, 233, 192);
    padding: 1.5rem;
    border-radius: 1rem;
    min-height: 50vh;
    width: 40vh;
}